.mainContainer{
    // width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 220px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    padding: 5px 10px;
}
.contentTop span{
    font-weight: bold;
}
.contentTop p{
    font-weight: lighter;
    margin: 0;
}
.image img{
    width: 100%;
    
}
.contentBot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}